body {background-color: coral;}

a {
    color: black;
}

div {
    color: purple;
}


p {
    /* hex example: */
    color: #1100ff;
    /* rgb example: */
    color: rgb(100, 0, 127);
    /* hsl example: */
    color: hsl(15, 82%, 56%);
    font-family: 'Courier New', Courier, monospace;
    text-align: center
  }

  img {
    width: auto;
    height: 500px;
  }